@model WebNgheNhac.Models.BaiHat

@{
    ViewBag.Title = "Xóa bài hát";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Tổng quan về bài hát</h2>

    <h1 style="color:red">Bạn có chắc muốn xóa bài hát này không?</h1>

    <div class="info-content">
        <h4>Thông tin bài hát</h4>

        <div class="info-box">
            <span class="info-box-title">ID</span>
            <span class="info-box-desc">@Model.IdBaiHat</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Tên bài hát</span>
            <span class="info-box-desc">@Model.TenBaiHat</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Ca sĩ</span>
            <span class="info-box-desc">@Model.CaSi.HoTen</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Thể loại</span>
            @if (Model.Album == null)
            {
                <span class="info-box-desc"></span>
            }
            else
            {
                <span class="info-box-desc">@Model.TheLoai.TenTheLoai</span>
            }
        </div>

        <div class="info-box">
            <span class="info-box-title">Album</span>
            @if (Model.Album == null)
            {
                <span class="info-box-desc"></span>
            }
            else
            {
                <span class="info-box-desc">@Model.Album.TenAlbum</span>
            }
        </div>

        <div class="info-box">
            <span class="info-box-title">Đường dẫn</span>
            <span class="info-box-desc">@Model.LinkBaiHat</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Hình ảnh</span>
            <span class="info-box-desc">@Model.HinhBaiHat</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Số lần nghe</span>
            <span class="info-box-desc">@Model.SoLanNghe</span>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="edit-submit" style="margin-top:20px">
                @Html.ActionLink("Hủy", "Index", null, new { @class = "info-btn" })
                <input type="submit" value="Xóa" class="edit-submit__btn" />
            </div>
        }
    </div>
</div>