@model WebNgheNhac.Models.BaiHat

@{
    ViewBag.Title = "Chỉnh sửa bài hát";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-main">
    <h2>Chỉnh sửa thông tin</h2>

    @using (Html.BeginForm("Edit", "Songs", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="edit">
            @Html.HiddenFor(model => model.IdBaiHat)
            @Html.HiddenFor(model => model.LinkBaiHat)
            @Html.HiddenFor(model => model.HinhBaiHat)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="edit__box">
                @Html.LabelFor(model => model.TenBaiHat, "Tên bài hát", htmlAttributes: new { @class = "edit__box-label" })
                @Html.EditorFor(model => model.TenBaiHat, new { htmlAttributes = new { @class = "edit__box-input" } })
                @Html.ValidationMessageFor(model => model.TenBaiHat, "", new { @class = "text-danger" })
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.IdCaSi, "Ca sĩ", htmlAttributes: new { @class = "edit__box-label" })
                <div class="col-md-10">
                    @Html.DropDownList("IdCaSi", null, htmlAttributes: new { @class = "edit__box-input" })
                    @Html.ValidationMessageFor(model => model.IdCaSi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.IdTheLoai, "Thể loại", htmlAttributes: new { @class = "edit__box-label" })
                <div class="col-md-10">
                    @Html.DropDownList("IdTheLoai", null, htmlAttributes: new { @class = "edit__box-input" })
                    @Html.ValidationMessageFor(model => model.IdTheLoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.IdAlbum, "Album", htmlAttributes: new { @class = "edit__box-label" })
                <div class="col-md-10">
                    @Html.DropDownList("IdAlbum", null, htmlAttributes: new { @class = "edit__box-input" })
                    @Html.ValidationMessageFor(model => model.IdAlbum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.LinkBaiHat, "Link bài hát", htmlAttributes: new { @class = "edit__box-label" })
                @Html.DisplayFor(model => model.LinkBaiHat, new { htmlAttributes = new { @class = "input-file" } }) 
                <div></div>
                <input type="file" name="LinkBaiHat" class="input-file" />
                @Html.ValidationMessageFor(model => model.LinkBaiHat, "", new { @class = "text-danger" })
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.HinhBaiHat, "Hình bài hát", htmlAttributes: new { @class = "edit__box-label" })
                @Html.DisplayFor(model => model.HinhBaiHat, new { htmlAttributes = new { @class = "input-file" } }) 
                <div></div>
                <input type="file" name="HinhBaiHat" class="input-file" />
                @Html.ValidationMessageFor(model => model.HinhBaiHat, "", new { @class = "text-danger" })
            </div>

            <div class="edit-submit">
                @Html.ActionLink("Hủy", "Index", null, new { @class = "info-btn" })
                <input type="submit" value="Lưu" class="edit-submit__btn" />
            </div>
        </div>
    }
</div>
