@model IEnumerable<WebNgheNhac.Models.BaiHat>

@{
    ViewBag.Title = "Bài hát";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Tổng quan về bài hát</h2>

    <p>
        @Html.ActionLink("Thêm bài hát", "Create", null, new { @class = "m-b-24px info-btn edit-submit__btn" })
    </p>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên bài hát
            </th>
            <th>
                Ca sĩ
            </th>
            <th>
                Thể loại
            </th>
            <th>
                Lệnh
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdBaiHat)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TenBaiHat)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.CaSi.HoTen)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TheLoai.TenTheLoai)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdBaiHat }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IdBaiHat }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdBaiHat }, new { @class = "link-btn" })
                </td>
            </tr>
        }
    </table>
</div>