<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- icon trang web -->
    <link rel="icon" href="~/Assets/Img/logo.png" type="image/x-icon">
    <link href="~/Assets/Font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
    <link href="~/Assets/Css/grid.css" rel="stylesheet" />
    <link href="~/Assets/Css/base.css" rel="stylesheet" />
    <link href="~/Assets/Css/home.css" rel="stylesheet" />
    <link href="~/Assets/Css/playlist.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content">
            <!-- bên trái: thanh taskbar -->
            <div class="content__taskbar">
                <!-- taskbar logo -->
                <div class="taskbar__logo">
                    <a class="taskbar__logo-link" href="~/Home/Index/@Session["IdTaiKhoan"]">
                        <img class="taskbar__logo-img" src="~/Assets/Img/MewChill.png" alt="Alternate Text" />
                    </a>
                </div>

                <!-- taskbar nav -->
                <nav class="taskbar__navbar">
                    <ul class="navbar">
                        <li class="navbar__item active">
                            <a class="navbar__item-link" href="~/Home/Index/@Session["IdTaiKhoan"]">
                                <i class="navbar__item-icon fa-solid fa-house"></i>
                                <span>Trang chủ</span>
                            </a>
                        </li>

                        <li class="navbar__item navbar__item-search navbar__item-btn" style="cursor: pointer">
                            <a class="navbar__item-link">
                                <i class="navbar__item-icon fa-solid fa-magnifying-glass"></i>
                                <span >Tìm kiếm</span>
                            </a>
                        </li>

                        <li class="navbar__item">
                            <a class="navbar__item-link" href="~/Home/Album/@Session["IdTaiKhoan"]">
                                <i class="navbar__item-icon fa-solid fa-book"></i>
                                <span>Album</span>
                            </a>
                        </li>

                        @if (@Session["IdTaiKhoan"] != null)
                        {
                            <li class="navbar__item navbar__item-playlist navbar__item-btn" style="cursor: pointer; ">
                                @using (Html.BeginForm("Create", "PlayLists"))
                                {
                                    @Html.AntiForgeryToken()

                                    <a class="navbar__item-link">
                                        <i class="navbar__item-icon fa-solid fa-square-plus"></i>
                                        <input type="hidden" name="id" value="@Session["IdTaiKhoan"]" />
                                        <input type="submit" value="My Playslist" style="cursor: pointer; border: none; font-size: 1.4rem; background-color: transparent; outline: none; color: var(--text-not-hover); font-weight: 700;" />
                                    </a>
                                }
                            </li>
                        }
                        else
                        {
                            <li class="navbar__item navbar__item-playlist navbar__item-btn">
                                <a class="navbar__item-link" href="">
                                    <i class="navbar__item-icon fa-solid fa-square-plus"></i>
                                    <span>My playlist</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>

                <div class="div-line p-0-24" style="margin: 12px 0;"></div>
                
                @{
                    ViewBag.myPlaylist = Session["MyPlaylist"]; // lấy myPlaylist
                }

                @if (Session["IdTaiKhoan"] != null)
                {
                    if (ViewBag.myPLaylist != null)
                    {
                        <nav class="taskbar__navbar">
                            <ul class="navbar">
                                @foreach (var itemMyPlaylist in ViewBag.myPlaylist)
                                {
                                    <li class="navbar__item">
                                        <a class="navbar__item-link" href="~/MyPlayLists/Index?idPlaylist=@itemMyPlaylist.IdPlayList">
                                            <i class="navbar__item-icon fa-solid fa-icons"></i>
                                            <span>@itemMyPlaylist.TenPlayList</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                }
            </div>

            <!-- bên phải: nội dung chính -->
            <div class="content__container">
                <!-- thanh header -->
                <div class="container__header">
                    <!-- nút paging -->
                    <div class="header__paging">
                        <a href="" class="header__paging-btn header__paging-prev">
                            <i class="header__paging-icon fa-solid fa-chevron-left"></i>
                        </a>

                        <a href="" class="header__paging-btn header__paging-next">
                            <i class="header__paging-icon fa-solid fa-chevron-right"></i>
                        </a>
                    </div>

                    <!-- thanh tìm kiếm -->
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                    {
                        <div class="header__search">
                            <i class="header__search-icon fa-solid fa-magnifying-glass"></i>
                            <input class="header__search-input" type="text" placeholder="Bạn muốn nghe gì?" name="searchString" />
                            <input class="header__search-btn" type="submit" name="name" value="Tìm" />
                        </div>
                    }

                    <!-- người dùng -->
                    @if (Session["IdTaiKhoan"] != null)
                    {
                        <!-- header user -->
                        <div class="header__user">
                            <div class="header__user-image">
                                <img class="header__user-img" src="~/Assets/Img/@Session["HinhTaiKhoan"]" alt="name" />
                            </div>

                            <span class="header__user-name">@Session["HoTen"]</span>

                            <i class="header__user-icon header__user-icon-up fa-solid fa-caret-up"></i>
                            <i class="header__user-icon header__user-icon-down fa-solid fa-caret-down"></i>

                            <!-- sub user -->
                            <nav class="header__sub-user">
                                <ul class="sub-user__navbar">
                                    <li class="sub-user__navbar-item">
                                        @Html.ActionLink("Tài Khoản", "Details", "Users", new { id = Session["IdTaiKhoan"] }, new { @class = "sub-user__navbar-link" })
                                    </li>

                                    @if ((bool)Session["Admin"] == true)
                                    {
                                        <li class="sub-user__navbar-item">
                                            <a class="sub-user__navbar-link" href="~/Admin/Index">Admin</a>
                                        </li>
                                    }

                                    <li class="sub-user__navbar-item">
                                        <a class="sub-user__navbar-link" href="~/Users/Logout">Đăng xuất</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <!-- header: đăng nhập, đăng ký -->
                        <div class="header__account">
                            <div class="header__account-item header__account-reg">
                                <a class="header__account-link" href="~/Users/Register">Đăng ký</a>
                            </div>

                            <div class="header__account-item header__account-log">
                                <a class="header__account-link" href="~/Users/Login">Đăng nhập</a>
                            </div>
                        </div>
                    }
                </div>

                <!-- phần render nội dung chính -->
                <div class="container__main">
                    @RenderBody()
                </div>
            </div>
        </div>

        @if (Session["IdTaiKhoan"] != null)
        {
            <!-- footer audio -->
            <footer class="footer-audio">
                <!-- audio song info -->
                <div class="audio__item">
                    <div class="audio__song-info">
                        <!-- hình ảnh bài hát -->
                        <div class="audio__song-info-img" style="background-image: url(../../Assets/Img/logo.png)"></div>

                        <!-- Thông tin bài hát -->
                        <div class="audio__song-info-desc">
                            <a class="audio__song-info-title">Chưa có bài hát</a>
                            <a class="audio__song-info-name">......</a>
                        </div>

                        @*<div class="audio__song-info-icons">
                            <i class="audio__song-info-icon audio__song-info-icon-hollow fa-regular fa-heart"></i>
                            <i class="audio__song-info-icon audio__song-info-icon-full fa-solid fa-heart"></i>
                        </div>*@
                    </div>
                </div>

                <!-- audio control -->
                <div class="audio__item">
                    <div class="audio__control">
                        <!-- random -->
                        <div class="audio__control-btn audio__control-btn-random">
                            <i class="audio__control-icon fa-solid fa-shuffle"></i>
                        </div>

                        <!-- prev -->
                        <div class="audio__control-btn audio__control-btn-prev">
                            <i class="audio__control-icon fa-solid fa-backward-step"></i>
                        </div>

                        <!-- play / pause -->
                        <div class="audio__control-btn audio__control-btn-play">
                            <i class="audio__control-icon audio__control-icon-play fa-solid fa-play" style="padding-left: 2px"></i>
                            <i class="audio__control-icon audio__control-icon-pause fa-solid fa-pause"></i>
                        </div>

                        <!-- next -->
                        <div class="audio__control-btn audio__control-btn-next">
                            <i class="audio__control-icon fa-solid fa-forward-step"></i>
                        </div>

                        <!-- repeat -->
                        <div class="audio__control-btn audio__control-btn-repeat">
                            <i class="audio__control-icon fa-solid fa-arrows-rotate"></i>
                        </div>
                    </div>

                    <!-- progress -->
                    <input id="audio__control-progress" class="audio__control-progress" type="range" value="0" min="0" step="1" max="100">
                </div>

                <!-- audio setting -->
                <div class="audio__item">
                    <div class="audio__setting">
                        <!-- danh sách phát -->
                        <div class="audio__setting-list">
                            <a class="audio__setting-list-link" href="#">
                                <i class="audio__setting-icon fa-solid fa-bars"></i>
                            </a>
                        </div>

                        <!-- volume -->
                        <div class="audio__setting-volume">
                            <i class="audio__setting-icon audio__setting-icon-on turn-on fa-solid fa-volume-high"></i>
                            <i class="audio__setting-icon audio__setting-icon-off turn-off fa-solid fa-volume-xmark"></i>
                            <input id="audio__setting-volume-progress" class="audio__setting-volume-progress" type="range" value="100" min="0" step="1" max="100">
                        </div>
                    </div>
                </div>
            </footer>
        }
        else
        {
            <!-- footer: chưa đăng nhập -->
            <footer class="footer-register">
                <div class="footer-register-desc">
                    <h5>Xem trước Spotify</h5>
                    <h4>Đăng ký để nghe không giới hạn các bài hát và podcast.</h4>
                </div>

                <a href="./Users/Register">Đăng ký miễn phí</a>
            </footer>
        }

        <audio id="audio" src=""></audio>
    </div>
</body>

<!-- script -->
<script src="~/Assets/Js/home.js"></script>

</html>
