@model IEnumerable<WebNgheNhac.Models.BaiHat>
@{
    ViewBag.Title = "My Playlist";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    var itemPlaylist = ViewBag.Playlist;
    var count = 1;
}

<div class="create-playlist-container">
    <div class="playlist">
        <!-- phần thông tin playlist -->
        <div class="playlist__info">
            <!-- hình ảnh -->
            <div class="playlist__info-img" style="background-image: url(../../Assets/Img/@itemPlaylist.HinhPlayList)"></div>

            <!-- mô tả -->
            <div class="playlist__info-desc">
                <h2 class="playlist__info-name">@itemPlaylist.TenPlayList</h2>

                <p class="playlist__info-intro div-overflow">
                    <b>Mô tả: </b>@itemPlaylist.MoTa
                </p>

                <span class="playlist__info-count-song">
                    <b>Số lượng bài hát: </b>@Model.Count()
                </span>
            </div>

            <!-- xóa my playlist hiện tại -->
            <div class="playlist__info-setting">
                <div class="playlist__info-btn playlist__info-btn-edit">Chỉnh sửa</div>

                @Html.ActionLink("Xóa Playlist", "Delete", "PlayLists", new { id = itemPlaylist.IdPlayList }, new { @class = "playlist__info-btn" })
            </div>
        </div>

        <div class="div-line"></div>

        <!-- phần những bài hát trong playlist -->
        <div class="playlist__songs" style="margin-top: 24px; padding: 24px 32px 110px; background-image: var(--bg-container-main);">
            <!-- Tìm kiềm bài hát cho playlist -->
            <div class="playlist__songs-form">
                <h4>Hãy tìm nội dung cho danh sách của bạn</h4>
                @using (Html.BeginForm("Index", "MyPlaylists", FormMethod.Get))
                {
                    <div class="playlist__songs-search">
                        <i class="playlist__songs-icon fa-solid fa-magnifying-glass"></i>
                        <input class="playlist__songs-input" type="hidden" name="idPlaylist" value="@itemPlaylist.IdPlayList" placeholder="Tìm bài hát vào tập podcast" />
                        <input class="playlist__songs-input" type="text" name="searchString" value="" placeholder="Tìm bài hát vào tập podcast" />
                    </div>
                }
            </div>

            <!-- danh sách bài hát đã thêm vào playlist -->
            <div class="playlist__songs-list">
                <!-- tiêu đề -->
                <div class="songs-list__container">
                    <div class="songs-list__container-item">#</div>
                    <div class="songs-list__container-item">Tiêu đề</div>
                </div>

                <div class="div-line"></div>

                @if (ViewBag.Check == 1)
                {
                    foreach (var itemSong in Model)
                    {
                        <!-- danh sách bài hát -->
                        <div class="songs-list">
                            <div class="songs-list__container">
                                <div class="songs-list__container-item">
                                    @count
                                </div>

                                <div class="songs-list__container-item">
                                    <div class="songs-list__info">
                                        <div class="songs-list__info-img" style="background-image: url(../../Assets/Img/@itemSong.HinhBaiHat)"></div>

                                        <div class="songs-list__info-desc">
                                            <p class="songs-list__info-name">@itemSong.TenBaiHat</p>
                                            <p class="songs-list__info-singer">@itemSong.CaSi.HoTen</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="songs-list__container-item songs-list__container-item-btn">
                                    <div class="songs-list__add">
                                        @using (Html.BeginForm("Create", "MyPlayLists"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="IdBaiHat" value="@itemSong.IdBaiHat" />
                                            <input type="hidden" name="IdPlayList" value="@itemPlaylist.IdPlayList" />
                                            <input type="hidden" name="hihi" value="null" />
                                            <input class="add" type="submit" value="Thêm" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        count = count + 1;
                    }
                }
                else
                {
                    foreach (var itemSong in Model)
                    {
                        <!-- danh sách bài hát -->
                        <div class="songs-list">
                            <div class="songs-list__container">
                                <div class="songs-list__container-item songs-list__container-item-play">
                                    <input type="hidden" id="TenBaiHat" value="@itemSong.TenBaiHat" />
                                    <input type="hidden" id="TenCaSi" value="@itemSong.CaSi.HoTen" />
                                    <input type="hidden" id="LinkBaiHat" value="~/Assets/Musics/@itemSong.LinkBaiHat" />
                                    <input type="hidden" id="HinhBaiHat" value="../../Assets/Img/@itemSong.HinhBaiHat" />

                                    <i class="count">@count</i>
                                    <i class="songs-list__container-icon songs-list__container-icon-play fa-solid fa-play" style="padding-left: 2px"></i>
                                    <i class="songs-list__container-icon songs-list__container-icon-pause fa-solid fa-pause"></i>
                                </div>

                                <div class="songs-list__container-item">
                                    <div class="songs-list__info">
                                        <div class="songs-list__info-img" style="background-image: url(../../Assets/Img/@itemSong.HinhBaiHat)"></div>

                                        <div class="songs-list__info-desc">
                                            <p class="songs-list__info-name">@itemSong.TenBaiHat</p>
                                            <p class="songs-list__info-singer">@itemSong.CaSi.HoTen</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="songs-list__container-item songs-list__container-item-btn">
                                    <div class="songs-list__add">
                                        @using (Html.BeginForm("Delete", "MyPlayLists"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="IdBaiHat" value="@itemSong.IdBaiHat" />
                                            <input type="hidden" name="IdPlayList" value="@itemPlaylist.IdPlayList" />
                                            <input type="hidden" name="hihi" value="null" />
                                            <input class="delete" type="submit" value="Xóa" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        count = count + 1;
                    }

                    count = 1;

                    <h3 style="font-size: 2.4rem; color: var(--white-color); font-weight: 600; margin-top: 20px;">Đề xuất</h3>

                    <div class="songs-list__container">
                        <div class="songs-list__container-item">#</div>
                        <div class="songs-list__container-item">Tiêu đề</div>
                    </div>

                    <div class="div-line"></div>

                    foreach (var itemSong in ViewBag.SongOffer)
                    {
                        <!-- danh sách bài hát -->
                        <div class="songs-list">
                            <div class="songs-list__container">
                                <div class="songs-list__container-item">
                                    @count
                                </div>

                                <div class="songs-list__container-item">
                                    <div class="songs-list__info">
                                        <div class="songs-list__info-img" style="background-image: url(../../Assets/Img/@itemSong.HinhBaiHat)"></div>

                                        <div class="songs-list__info-desc">
                                            <p class="songs-list__info-name">@itemSong.TenBaiHat</p>
                                            <p class="songs-list__info-singer">@itemSong.CaSi.HoTen</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="songs-list__container-item songs-list__container-item-btn">
                                    <div class="songs-list__add">
                                        @using (Html.BeginForm("Create", "MyPlayLists"))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="IdBaiHat" value="@itemSong.IdBaiHat" />
                                            <input type="hidden" name="IdPlayList" value="@itemPlaylist.IdPlayList" />
                                            <input type="hidden" name="hihi" value="null" />
                                            <input class="add" type="submit" value="Thêm" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        count = count + 1;
                    }
                }

            </div>
        </div>
    </div>
</div>

<div class="eidt__myplaylist">
    <div class="myplaylist-main">
        <div class="myplaylist__title">
            <h3>Sửa thông tin chi tiết</h3>
            <i class="fa-solid fa-xmark"></i>
        </div>

        @using (Html.BeginForm("Edit", "PlayLists", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="IdPlayList" value="@itemPlaylist.IdPlayList"/>
            <input type="hidden" name="IdTaiKhoan" value="@itemPlaylist.IdTaiKhoan"/>

            <div class="myplaylist__edit">
                <div class="myplaylist__edit-img" style="background-image: url(../../Assets/Img/@itemPlaylist.HinhPlayList)"></div>

                <div class="myplaylist__edit-data">
                    <div class="myplaylist__edit-group">
                        <input type="text" name="TenPlayList" value="@itemPlaylist.TenPlayList" />
                    </div>

                    <div class="myplaylist__edit-group">
                        <textarea name="MoTa">@itemPlaylist.MoTa</textarea>
                    </div>

                    <div class="myplaylist__edit-group">
                        <input type="file" name="HinhPlayList" value="Chọn hình ảnh" />
                    </div>
                </div>
            </div>

            <div class="myplaylist__sumit">
                <input type="submit" value="Lưu" class="myplaylist__sumit-btn" />
            </div>

            <p>Bằng cách tiếp tục, bạn đồng ý cho phép MeoChill truy cập vào hình ảnh bạn đã chọn để tải lên. Vui lòng đảm bảo bạn có quyền tải lên hình ảnh.</p>
        }

    </div>
</div>