@model WebNgheNhac.Models.CaSi

@{
    ViewBag.Title = "Xóa nghệ sĩ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-main">
    <h2>Tổng quan về nghệ sĩ</h2>

    <h1 style="color:red">Bạn có chắc muốn xóa ca sĩ này không?</h1>

    <div class="info-content">
        <h4>Thông tin</h4>
        <div class="info-box">
            <span class="info-box-title">ID</span>
            <span class="info-box-desc">@Model.IdCaSi</span>
        </div>
        <div class="info-box">
            <span class="info-box-title">Họ và tên</span>
            <span class="info-box-desc">@Model.HoTen</span>
        </div>
        <div class="info-box">
            <span class="info-box-title">Ngày sinh</span>
            <span class="info-box-desc">@Model.NgaySinh</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Giới tính</span>
            <span class="info-box-desc">@Model.GioiTinh</span>
        </div>


        <div class="info-box">
            <span class="info-box-title">Giới thiệu</span>
            <span class="info-box-desc">@Model.GioiThieu</span>
        </div>

        <div class="info-box">
            <span class="info-box-title">Hình ca sĩ</span>
            <img src="~/Assets/Img/@Model.HinhCaSi" style="width:15rem;height:15rem" />
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="edit-submit">
            @Html.ActionLink("Hủy", "Index", null, new { @class = "info-btn" })
            <input type="submit" value="Xóa" class="edit-submit__btn" />
        </div>
    }
</div>