@model WebNgheNhac.Models.TaiKhoan
@{
    Layout = null;
}

<head>
    <title>Đăng Nhập</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="~/Assets/Css/base.css" rel="stylesheet" />
    <link href="~/Assets/Css/user.css" rel="stylesheet" />
</head>

<body class="container__users">
    <div class="users__bg">
        <div class="users__bg-shape"></div>
        <div class="users__bg-shape"></div>
    </div>

    <div class="login__form">
        @using (Html.BeginForm("login", "Users"))
        {
            @Html.ValidationSummary(true);
            @Html.AntiForgeryToken()

            <h3 class="users__form-title">Đăng Nhập</h3>

            <div>
                <label class="users__form-lable" for="username">Tên Đăng Nhập</label>
                <input class="users__form-input" type="text" placeholder="Tên đăng nhập / Username" id="username" name="Username">
                @Html.ValidationMessageFor(model => model.Username)
            </div>

            <div>
                <label class="users__form-lable" for="password">Mật Khẩu</label>
                <input class="users__form-input" type="password" placeholder="Mật khẩu / Password" id="password" name="MatKhau">
                @Html.ValidationMessageFor(model => model.MatKhau)
            </div>

            <h2 class="users__form-mess" style="color: red;">@ViewBag.ThongBao</h2>

            <div class="users__form-button">
                <button class="users__form-btn" type="submit">Đăng nhập</button>
            </div>

            <div class="users__form-option">
                Bạn chưa có tài khoản?
                @Html.ActionLink("Đăng ký", "Register", "Users")
            </div>

            @*<div class="social users__form-social">
                    <div class="users__form-social-go">
                        <a class="users__form-social-link" href="https://accounts.google.com/v3/signin/identifier?dsh=S-217900745%3A1668169875422702&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&hl=vi&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=ARgdvAuu0QWFInNGeX3zZ6mYBlHG_wjTUqLLB3jA5-hEnpUCm89MEIcyqoRUbyYpHpQQKVUG842xXg">
                            <i class="fab fa-google"></i>  Google
                        </a>
                    </div>

                    <div class="users__form-social-fb">
                        <a class="users__form-social-link" href="https://www.Facebook.com/">
                            <i class="fab fa-facebook"></i>  Facebook
                        </a>
                    </div>
            </div>*@
        }
    </div>
</body>