@model WebNgheNhac.Models.TheLoai

@{
    ViewBag.Title = "Tạo mới thể loại";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-main">
    <h2>Thêm thể loại</h2>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()
        <div class="edit">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="edit__box">
                @Html.LabelFor(model => model.TenTheLoai, "Tên thể loại", htmlAttributes: new { @class = "edit__box-label" })
                @Html.EditorFor(model => model.TenTheLoai, new { htmlAttributes = new { @class = "edit__box-input" } })
                @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.HinhTheLoai, "Hình thể loại", htmlAttributes: new { @class = "edit__box-label" })
                <input type="file" name="HinhTheLoai" />
                @Html.ValidationMessageFor(model => model.HinhTheLoai, "", new { @class = "text-danger" })
            </div>

            <div class="edit-submit">
                @Html.ActionLink("Hủy", "Index", null, new { @class = "info-btn" })
                <input type="submit" value="Tạo mới" class="edit-submit__btn" />
            </div>
        </div>
    }
</div>
