@model WebNgheNhac.Models.TheLoai

@{
    ViewBag.Title = "Chỉnh sửa thể loại ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Chỉnh sửa thể loại</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="edit">
            @Html.HiddenFor(model => model.IdTheLoai)
            @Html.HiddenFor(model => model.TenTheLoai)

            <div class="edit__box">
                @Html.LabelFor(model => model.TenTheLoai, "Tên thể loại", htmlAttributes: new { @class = "edit__box-label" })
                @Html.EditorFor(model => model.TenTheLoai, new { htmlAttributes = new { @class = "edit__box-input" } })
                @Html.ValidationMessageFor(model => model.TenTheLoai, "", new { @class = "text-danger" })
            </div>

            <div class="edit__box">
                @Html.LabelFor(model => model.HinhTheLoai, "Hình thể loại", htmlAttributes: new { @class = "edit__box-label" })
                @Html.DisplayFor(model => model.HinhTheLoai, new { htmlAttributes = new { @class = "form-control" } })
                <div></div>
                <input type="file" name="HinhTheLoai" />
                @Html.ValidationMessageFor(model => model.HinhTheLoai, "", new { @class = "text-danger" })
            </div>

            <div class="edit-submit">
                @Html.ActionLink("Hủy", "Index", null, new { @class = "info-btn" })
                <input type="submit" value="Lưu" class="edit-submit__btn" />
            </div>
        </div>
    }

</div>
