@model IEnumerable<WebNgheNhac.Models.TheLoai>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Tổng quan về thể loại</h2>

    <p>
        @Html.ActionLink("Thêm thể loại", "Create", null, new { @class = "m-b-24px info-btn edit-submit__btn" })
    </p>

    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên thể loại
            </th>
            <th>
                Lệnh
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTheLoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenTheLoai)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdTheLoai }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IdTheLoai }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdTheLoai }, new { @class = "link-btn" })
                </td>
            </tr>
        }
    </table>
</div>