@model IEnumerable<WebNgheNhac.Models.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-main">
    <h2>Tổng quan về Album</h2>
    <p>
        @Html.ActionLink("Thêm Album", "Create", null, new { @class = "m-b-24px info-btn edit-submit__btn" })
    </p>
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Tên Album
            </th>
            <th>
                Tên ca sĩ
            </th>
            <th>
                Lệnh
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAlbum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenAlbum)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CaSi.HoTen)
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.IdAlbum }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Chi tiết", "Details", new { id = item.IdAlbum }, new { @class = "link-btn" }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.IdAlbum }, new { @class = "link-btn" })
                </td>
            </tr>
        }
    </table>
</div>
